/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  background: #eff3f6;
}

.container {
  background: #fff;
}

#shipper-nav {
  margin-top: 30px;
}

#landing-nav {
  margin-top: 30px;
}

#landing-nav .sign-up {
  background: #ff0000;
  color: #ffffff !important;  
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 12px;
  text-decoration: none !important;  
  line-height: normal !important;
  font-weight: bold;
  width: 72px;
  display: inline-block;
  text-align: center;
}

#landing-nav .login {
  background: #0000ff;
  color: #ffffff !important;  
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 12px;
  text-decoration: none !important;  
  line-height: normal !important;
  font-weight: bold;
  width: 72px;
  display: inline-block;
  text-align: center;
  margin-left: 21px;
}

.my-navbar-header {
  
}

.my-navbar {
  background-color: #ffffff !important;
  padding: 0 10px;
  border-bottom: 2px solid #1f66c2 !important;
  max-width: 1170px;
  margin: 0 auto;
  min-height: 103px;
}

.my-caret {
  border-top: 10px dashed !important;
  border-right: 6px solid transparent !important;
  border-left: 6px solid transparent !important;
  color: #1f66c2;
}

.my-caret2 {
  border-top: 8px dashed !important;
  border-right: 6px solid transparent !important;
  border-left: 6px solid transparent !important;
  vertical-align: top;
  margin-top: 4px;
}

.myrfp-pause-button {

}

.myrfp-view-button {

}

.myrfp-view-button>label {
  margin-right: 5px;
  margin-bottom: 0;
  cursor: pointer;
}

.action-button>label {
  cursor: pointer;
  margin-bottom: 0; 
}

.navbar-default .navbar-nav>li>a {
  color: #1f66c2 !important;
  font-size: 15px;
  font-weight: bold;
}

.navbar-default #shipper-nav #content-nav>li>a:focus, .navbar-default #shipper-nav #content-nav>li>a:hover {
  background-color: #1f66c2 !important;
  color: #ffffff !important;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-default #shipper-nav #content-nav>li>a:focus .my-caret, .navbar-default #shipper-nav #content-nav>li>a:hover .my-caret {
  color: #ffffff !important;
  cursor: pointer;
}

.navbar-default #shipper-nav #content-nav>.open>a, .navbar-default #shipper-nav #content-nav>.open>a:focus, .navbar-default #shipper-nav .navbar-nav>.open>a:hover {
  background-color: #1f66c2 !important;
  color: #ffffff !important;
  border-radius: 5px;
}

.navbar-default #shipper-nav #content-nav>.open>a .my-caret, .navbar-default #shipper-nav #content-nav>.open>a:focus .my-caret, .navbar-default #shipper-nav #content-nav>.open>a:hover .my-caret {
  color: #ffffff !important;
  cursor: pointer;
}

#shipper-nav .navbar-nav>li>.dropdown-menu {
  background-color: #1f66c2 !important;
  border-radius: 5px;
}

#shipper-nav .navbar-nav>li>.dropdown-menu>li {
  padding: 10px 10px;  
}

#shipper-nav .navbar-nav .dropdown-menu>li>a {
  color: #ffffff !important;
  border-bottom: 2px solid #114c99;
}

#shipper-nav .navbar-nav .dropdown-menu>li>a:hover, #shipper-nav .navbar-nav .dropdown-menu>li>a:focus {
  color: #ffff00 !important;
  background: none;
  text-decoration: underline;
}

#shipper-nav .dropdown-last {
  background-color: #ef720c !important;
  padding: 6px 20px !important;
  border-radius: 5px;
}

#shipper-nav .dropdown-last:hover {
  background-color: #ef720c !important;
  padding: 6px 20px !important;
  color: #ffff00;
  border-radius: 5px;
  text-decoration: none;
}

#shipper-nav .dropdown-menu>li:last-child>a {
  border: none !important;
}

#shipper-nav #user-header img {
  float: left;
  width: 42px;
  border-radius: 50%;
}

#shipper-nav #user-header>a{
  display: inline-block !important;
  padding: 0 !important;
}

#shipper-nav #user-header>a:hover, #shipper-nav #user-header>a:focus, 
#shipper-nav #user-settings>a:hover, #shipper-nav #user-settings>a:focus {
  background: none !important;
  color: #ef720c !important;
}

.username {
  float: left;
  overflow: hidden;
  line-height: 42px;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#user-settings>a {
  padding: 0 !important;
  margin-left: 20px;
  cursor: pointer;
}

#user-settings>a>img {
  width: 40px;
  height: 40px;
}

#user-settings.open>a {
  background: none !important;
  color: #ef720c !important;
}

.navbar-brand img {
  width: 212px;  
}

.my-container-fluid {
  margin-bottom: 20px;
}

.my-alert {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.my-alert-success {
  color: #000;
  background-color: #ffff00;
  font-weight: bold;
}

.my-alert-success span {
  color: #495159;
}

.my-alert>img {
  width: 19px;
  height: 16px;
}

.my-alert>span {
  margin-left: 10px;
}

.my-close {
  color: #ff0000 !important;
}

.rfp-section {
  margin-top: 37px;
}

.rfp-header {

}

.rfp-body {

}

.rfp-body>table {
  border-collapse: inherit !important;
}

.rfp-body>table>thead>tr>th {
  padding: 20px 0;
  background: #d2d8df;
  text-align: center;
  color: #495159;
  font-size: 15px;
  border: none !important;
}

.rfp-body>table>tbody>tr>td {
  text-align: center;
  color: #85919f;
  font-weight: bold;
  font-size: 12px;
  border: none !important;
  padding: 13px 0;
}

.rfp-body>table>tbody>tr {
  border: none !important;
}

.rfp-header-left {
  width: 80%;
  float: left;
  background-color: #1f66c2;  
}

.rfp-header-middle {
  width: 100%;
  float: left;
  background-color: #1f66c2;  
}

.rfp-header-middle>span {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 25px 17px;
}

.rfp-header-left>span {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 25px 17px;
}

.rfp-header-right {
  width: 20%;
  float: left;
  background-color: #cd0000;
}

.rfp-header-right>span {
  color: #ffffff;
  font-size: 18px;
  font-size: 17px;
  padding: 27px 0px;
  display: block;
  text-align: center;
}

.action-button {
  background: #ffffff;
  color: #a3a3a3 !important;
  border: 1px solid #a3a3a3 !important;
  border-radius: 5px;
  padding: 6px 6px;
  font-size: 12px;
  text-decoration: none !important;  
  line-height: normal !important;  
}

.action-button:hover {
  text-decoration: none !important;
  background-color: #1f66c2;
  border: 1px solid #1f66c2;
  color: #ffffff;
  border-radius: 5px;
}

.action-button:focus {
  border: 1px solid #1f66c2;
  border-radius: 5px;
  outline: none;
}

.search-button {
  display: inline-block;
  background: #ffffff;
  color: #a3a3a3 !important;
  border: 1px solid #a3a3a3 !important;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 12px;
  text-decoration: none !important;
  line-height: normal !important;  
}

#search-email::-webkit-input-placeholder {
  color: #91b4e1;
}

.search-button:hover {
  text-decoration: none !important;
  background-color: #1f66c2;
  border: 1px solid #1f66c2;
  color: #ffffff;
  border-radius: 5px;
}

.search-button:focus {
  border: 1px solid #1f66c2;
  border-radius: 5px;
  outline: none;
}

.rfp-new-section {
  width: 581px;
  margin: 0 auto;
}

.rfp-new-section>.row>h1 {
  font-weight: bold;
  font-size: 24px;
  color: #1f66c2;
  text-align: center;
}

.footer {
  height: 100px;
}

.steps {

}

.steps-button {
  position: relative;
}

.steps-button:before {
  display: block;
  content: "";
  position: absolute;
  top: 28%;
  height: 4px;
  margin-top: -2px;
  left: 9%;
  width: 82%;
  background-color: #bcbcbc;
  z-index: 0;
}

.steps-unit a.step-item {
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  display: inline-block;  
  border: 5px solid #bcbcbc;
  background-color: #bcbcbc;
  height: 54px;
}

.steps-unit a.step-item:hover, .steps-unit a.step-item:focus,
.steps-unit.active a.step-item, .steps-unit.active a.step-item {
  border: 5px solid #1f66c2;
  background-color: #1f66c2;
}

.steps-unit a.step-item:hover .step-number, .steps-unit a.step-item:focus .step-number,
.steps-unit.active .step-number, .steps-unit.active .step-number {
  background-color: #245fac;
  border: 1px solid #234b80;
}

.steps-unit a.step-item:hover + .step-comment, .steps-unit a.step-item:focus + .step-comment,
.steps-unit.active a.step-item + .step-comment, .steps-unit.active a.step-item + .step-comment {
  color: #245fac;
}

.steps-unit a.step-item .step-number {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  background-color: #a0a0a0;
  border: 1px solid #909090;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.steps-unit.active a.step-item .step-number {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-block;
  background-color: #245fac;
  border: 1px solid #234b80;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.steps-unit .step-comment {  
  text-align: center;  
  font-size: 15px;
  width: 52px;
  padding: 0 !important;
  margin: 0 !important;
  color: #bcbcbc;
}

#delivery-info-step, #shipment-timing-step, #shipment-info-step, #tracking-step {
  display: none;
}

.my-form-control {
  width: 85% !important;
}

.step-content {
  margin-top: 22px;
  padding: 20px 0;
  border-top: 1px solid #d4dae1;
  width: 500px;
  margin: 0 auto;
}

.border-bottom {  
  height: 20px;
  border-bottom: 1px solid #d4dae1;
}

#step-title h2 {
  text-align: center;
  color: #1f66c2;
  font-weight: bold;
  font-size: 20px;
}

.form-button {
  width: 219px;
  margin: 30px auto;
}

.my-control-label {
  color: #1f66c2;
}

#shipper-from {
  position: relative;
}

#shipper-to {
  position: relative;
}

.shipper-hour-up {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0px 2px;
  border: none !important;
}

.shipper-hour-up>img {
  width: 10px;
}

.shipper-hour-up>img:focus, .shipper-hour-up:focus {
  border: none !important;
  outline: none;
}

.shipper-hour-down {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0px 2px;
}

.shipper-hour-down>img {
  width: 10px;
}

.shipper-hour-down>img:focus, .shipper-hour-down:focus {
  border: none !important;
  outline: none;
}

.shipper-time-section {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 4px;
  display: inline-block !important;
}

.shipper-time-section>td {
  padding: 0 4px;
}

.hour-center {
  padding: 50% 0;
}

.hour-right {
  padding: 11% 0;
}

#shipment-timing-step span, #shipment-timing-step input, #shipment-timing-step button {
  color: #85919f;
}

.shipment-radio, .shipment-radio>input {
  color: #1f66c2 !important;
}

.shipper-timing-col-md-offset-4 {
  margin-left: 26.333333% !important;
}

.vcenter {
  line-height: 52px;
}

.shipment-checkbox {
  color: #717171;
}

.rating-xs {
  font-size: 12px;
}

.info-item-title {
  color: #4a84ce;  
  margin-bottom: 0;
  text-align: right;
}

.info-item-desc {
  color: #565d64;
}

.profile-item {
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-item img {
  border-radius: 50%;
}

.profile-item-title {
  color: #4a84ce;  
  margin-bottom: 0;
  text-align: right;
  font-weight: bold;
}

.profile-item-desc {
  color: #565d64;
  font-weight: bold;
}

.pickup-section>h3, .delivery-section>h3, .shipment-section>h3, .shipment-timing-section>h3, .job-section>h3 {
  color: #4a84ce;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.rfp-desc {
  padding: 20px 0;
  border-bottom: 1px solid #d4dae1;
}

.rfp-desc span {
  text-align: center;
  color: #1c4780;
}

#myrfp-item {
  display: none;
}

#draft-item {
  display: none;
}

#pending-item {
  display: none;
}

#test-data {
  color: #757c83;
}

.confirm-title {
  color: #1f66c2;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modal-body p {
  text-align: center;
  color: #85919f;
}

.my-modal-header {
  border: none;  
}

.my-modal-body {
  padding: 0;
}

.my-modal-body img {
  border-radius: 50%;
}

.my-modal-footer {
  border: none;
  text-align: center;  
}

#completed-item {
  display: none;
}

#confirmed-item {
  display: none;
}

#delivered-item {
  display: none;
}

.my-modal-dialog {
  width: 439px;
}

.modal-inline-body {
  display: inline-block;
}

.modal-inline-body label {
  color: #85919f;
}

.modal-inline-body span {
  color: #85919f; 
}

#in-transit-item {
  display: none;
}

.invite-carriers {
  margin-top: 30px;
}

.status-active {
  color: #1f66c2 !important;
}

.status-pending {
  color: #ff0000 !important;
}

.add-new {
  color: #4d7ec9;
  text-decoration: none;
  font-size: 17px;
  margin-top: 11px;
  display: inline-block;
}

.add-new:hover, .add-new:focus {
  text-decoration: none;
}

.add-new span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  color: #4d7ec9;
}

.add-new img {
  vertical-align: top;
}

.profile-section {
  width: 711px;
  margin: 40px auto;
}

.profile-section h2 {
  color: #1f66c2;
  font-weight: bold;
  margin: 0;
}

.profile-right-section {
  margin-top: 20px;
}

.landing-container {
  padding: 22px 35px;
}

.landing-slogan {

}

.landing-slogan h1 {
  text-align: center;
  color: #1f66c2;
  font-weight: bold;
}

.landing-tutorial {
  display: inline-block;
}

.landing-tutorial img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -4px;
}

.landing-tutorial h2 {
  font-weight: bold;
  font-size: 20px;
  color: #1f66c2;
}

.landing-tutorial p {
  color: #828283;
  padding-top: 10px;
  font-size: 13px;
}

.landing-features {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.landing-features span {
  color: #828283;
  line-height: 30px;
  font-size: 15px;
}

.get-started-button {
  background: #ff0000;
  color: #ffffff !important;  
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 17px;
  text-decoration: none !important;  
  line-height: normal !important;
  font-weight: bold; 
  display: inline-block;
  text-align: center;
}

.shipperhero-features {
  display: inline-block;
}

.how-it-works {
  color: #58585a;
  text-align: center;
}

.how-it-works h1 {
  font-size: 28px;
  font-weight: bold;
}

.watch-short-video {
  color: #2069c8;
  text-align: center;
}

.watch-short-video a {
  font-size: 20px;
}

.watch-short-video img {
  margin-left: 10px;
}

.shipperhero-features img {
  max-height: 100%;
  max-width: 100%;
}

.ready-to-get-started {
  background: #1f66c2;
  padding: 38px 0;
}

.ready-to-get-started h1 {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  display: inline-block;
}

.try-it-free-button {
  background: #ff0000;
  color: #ffffff !important;  
  border-radius: 5px;
  padding: 10px 97px;
  font-size: 17px;
  text-decoration: none !important;  
  line-height: normal !important;
  font-weight: bold; 
  display: inline-block;
  text-align: center;
}

@media (min-width: 992px) {
  .landing-tutorial h2 {
    margin: 0;
  }

  .my-col-md-offset {
    margin-left: 12.5% !important;
  }

  .my1-col-md-6 {
    width: 51%;
  }

  .my2-col-md-6 {
    width: 49%;
  }
  .my-col-md-offset-3 {
    margin-left: 21%;
  }

  .my-modal-lg {
    width: 960px !important;
  }

  .profile-right-section {
    margin-top: 95px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand img {
    width: 123px;  
  }
}

@media screen and (min-width: 611px) {
  .steps-unit {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
  }

  .steps-unit.last {
    margin-right: 0 !important;
  }

  .steps-unit.first {
    margin-left: 50px !important;
  }
}

@media screen and (max-width: 610px) {
  .steps-button:before {
    content: none;
  }

  .steps-unit .step-comment {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
}