<div class="step-content" id="shipment-timing-step">
  <div class="row" id="step-title">
    <h2>SHIPMENT TIMING</h2>
  </div>
  <div class="form-group">
    <label for="pickup date" class="control-label my-control-label">Pickup Date</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)">
          <img src="assets/images/rfp/date.png" alt="date" width="18" />
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label for="shipper hours" class="control-label my-control-label">Shipper Hours</label>
    <uib-timepicker ng-model="mytime"></uib-timepicker>
  </div>
</div>