<div class="step-content" id="shipment-timing-step">
  <div class="row" id="step-title">
    <h2>SHIPMENT TIMING</h2>
  </div>
  <div class="form-group">
    <label for="pickup date" class="control-label my-control-label">Pickup Date</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="pickup_date" is-open="status.pickupdate_opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="pickupdate_open($event)">
          <img src="assets/images/rfp/date.png" alt="date" width="18" />
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label for="shipper hours" class="control-label my-control-label">Shipper Hours</label>
    <div class="row">
      <div class="col-md-5">      
        <uib-timepicker ng-model="shipper-hour-from" show-meridian="ismeridian"></uib-timepicker>
      </div>
      <div class="col-md-2 text-center vcenter">
        <div class="col-md-12"><span>TO</span></div>        
      </div>
      <div class="col-md-5">      
        <uib-timepicker ng-model="shipper-hour-to" show-meridian="ismeridian"></uib-timepicker>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <label class="shipment-radio"><input type="radio" name="shipper_category" value="" id="shipper-appointment">Appointment</label>
    </div>
    <div class="col-md-5">
      <label class="shipment-radio"><input type="radio" name="shipper_category" value="" id="shipper-first-come-first-served">First Come First Served</label>
    </div>
  </div>
  <div class="form-group" style="margin-top: 10px">    
    <uib-timepicker ng-model="mytime" show-meridian="ismeridian"></uib-timepicker>
  </div>
  <div class="border-bottom">
  </div>
  <div class="form-group">
    <label for="delivery date" class="control-label my-control-label">Delivery Date</label>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="delivery_date" is-open="status.deliverydate_opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="deliverydate_open($event)">
          <img src="assets/images/rfp/date.png" alt="date" width="18" />
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <label for="consignee hours" class="control-label my-control-label">Consignee Hours</label>
    <div class="row">
      <div class="col-md-5">      
        <uib-timepicker ng-model="consignee-hour-from" show-meridian="ismeridian"></uib-timepicker>
      </div>
      <div class="col-md-2 text-center vcenter">
        <div class="col-md-12"><span>TO</span></div>        
      </div>
      <div class="col-md-5">
        <uib-timepicker ng-model="consignee-hour-to" show-meridian="ismeridian"></uib-timepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <label class="shipment-radio"><input type="radio" name="consignee_category" value="" id="consignee-appointment">Appointment</label>
    </div>
    <div class="col-md-5">
      <label class="shipment-radio"><input type="radio" name="consignee_category" value="" id="consignee-first-come-first-served">First Come First Served</label>
    </div>
  </div>
  <div class="form-group" style="margin-top: 10px">    
    <uib-timepicker ng-model="mytime" show-meridian="ismeridian"></uib-timepicker>
  </div>
</div>